[user]
	email = matas234@gmail.com
	name = NullSense
	signingkey = CB5590199041EB914A80D18196154ED6A2543B48
[credential]
	helper = cache --timeout=3600
[core]
	excludesfile = /home/ongo/.gitignore
	pager = delta --dark
[rebase]
	autosquash = true
[commit]
	verbose = true
	gpgsign = true
[init]
	defaultBranch = master
[pull]
	rebase = false
