[user]
    email = matas.peciukonis@momox.biz
    name = Matas Peciukonis
[credential]
    helper = cache --timeout=3600
[commit]
    verbose = true
[core]
    excludesfile = /home/ongo/.gitignore
    pager = delta --dark
[rebase]
    autosquash = true
