[Desktop Entry]
Name=Obsidian
Comment=Markdown Notetaking App
GenericName=Text Editor
Type=Application
Exec=/home/ongo/bin/Obsidian.AppImage %U
Icon=obsidian
StartupWMClass=obsidian
MimeType=x-scheme-handler/obsidian;
